@charset "utf-8";/* CSS Document */
body{
	margin: -10px;
}
header li,.dropdown{
			display: inline-block;
			margin: 0 auto;
	        position: relative;
			padding: 0 0.8em;
			font-size: 18px;
}

.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
}

.dropdown-content a {
    color:#FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
	color:#FF8000;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.zhezhao2{
	width:100%;
	height:800px;
	background-color: rgba(31,31,33,0.56);
}
header
{
			width:100%;
			height:800px;
			background-image:url(../image/datu.png);
		    background-size: 100% 100%;
	        background-repeat: no-repeat;
}
.top{
	width: 100%;
	height: 200px;
}
header h1{
	margin-top: 150px;
	text-align:center;
	font-size: 125px;
	color: rgba(241,166,4,1.00);
}
header h3{
	margin-top: -70px;
	text-align: center;
	font-size: 50px;
	color: rgba(241,166,4,1.00);
}
header h6{
	margin-top: -40px;
	text-align: center;
	font-size: 30px;
	color: rgba(241,166,4,1.00);
}
header ul{
			width:auto;
			margin-left: 60%;		
}
header ul li{
			display: inline-block;
			margin: 0 auto;
	        position: relative;
			padding: 0 0.8em;
			font-size: 18px;
}
a.nav-underline-active{
	        position: relative;
		    text-decoration: none;
		    color:#000000;
		    display: block;
		    padding: 1.2em 0.8em;
	color: aliceblue;
}
a.nav-underline{
			position: relative;
		    text-decoration: none;
		    color:#000000;
		    display: block;
		    padding: 1.2em 0.8em;
			color:aliceblue;
		}
		.nav-underline:before,.nav-underline-active:before {
		  content: "";
		  position: absolute;
		  bottom: 0;
		  width: 0;
		  border-bottom: 2px solid #FF8000;
		}
		.nav-underline:hover:before,.nav-underline-active:hover:before {
		  width: 80%;
		}
		.nav-underline:before,.nav-underline-active:before {
		  -webkit-transition: width 0.3s ease-in-out;
		  -moz-transition: width 0.3s ease-in-out;
		  -ms-transition: width 0.3s ease-in-out;
		  -o-transition: width 0.3s ease-in-out;
		  transition: width 0.3s ease-in-out;
		}
		
		.nav-underline:hover {
		  color:#FF8000;
		}

a:link{
	text-decoration: none;
}
.daohang1{
	width: 80%;
	margin-left: 10%;
	margin-bottom:80px;
	height: 80px;
	background: url(../image/daohang.png);
	background-size: 100% 100%;
	text-align: center;
	color: aliceblue;
	font-family:楷体;
	font-size: 18pt;
	font-style: normal;
	font-weight:500;
	line-height: 70px;
}
.xiaochi{
	height: 1750px;
	width: 100%;
	background-color: #dddbde;
}
.xiao{
	width: 70%;
	margin-left: 15%;
	height: 300px;
	margin-bottom: 60px;
}
.jie1{
	width: 45%;
	height: 300px;
	float: left;
	outline:solid 2px #627f67;
	padding: 0.8%;
}
.jie2{
	width: 45%;
	height: 300px;
	float: left;
	outline:solid 2px #6f7f67;
	padding: 0.8%;
	margin-left: 6.8%;
}
.wen{
	background-color:#b3c6ab;
	width: 65%;
	height: 100%;
	float: left;
}
.wen1{
	width: 100%;
	height: 30px;
	padding-top: 20px;
}
.wen2{
	width: 90%;
	height: 55%;
	margin-top: 25%;
	margin-left:5%;
	font-size: 11pt;
	font-style: normal;
	font-weight:500;
	
	color: rgba(25,54,32,1.00);
}
.ti{
	width: 50%;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	font-size: 17pt;
	font-weight: 600;
	font-family: 楷体;
	color: rgba(239,157,3,1.00);
	float: left;
}
.jian{
    width: 35%;
	height: 30px;
	background-color:rgba(253,166,54,1.00);
	float: right;
	margin-right: 20px;
	border-radius: 10px;
	text-align: center;
	color:wheat;
	font-size: 11pt;
	font-weight: 600;
	line-height: 30px;
	transition: all 0.5s;
}
.jian:hover{
	background-color: rgba(250,196,127,1.00);
	color:rgba(216,128,16,1.00);
}

.pian1{
	width: 35%;
	height: 100%;
	background:url(../image/a8d4dcf1b0fb15ae4e3ec8904186f202_w370_h255_c1_t0.jpg);
	background-size: 100% 100%;
	float: left;
}
.pian2{
	width: 35%;
	height: 100%;
	background:url(../image/1-120510093TQ13.jpg);
	background-size: 100% 100%;
	float: left;
}
.pian3{
	width: 35%;
	height: 100%;
	background:url(../image/00MCBV8A6C5649D441F6D6m.jpg);
	background-size: 100% 100%;
	float: left;
}
.pian4{
	width: 35%;
	height: 100%;
	background:url(../image/20140609162403_QjPmW.thumb.700_0.jpg);
	background-size: 100% 100%;
	float: left;
}
.pian5{
	width: 35%;
	height: 100%;	background:url(../image/555074c140cf51d7f839fa9e5f85157d.jpg);
	background-size: 100% 100%;
	float: left;
}
.pian6{
	width: 35%;
	height: 100%;
	background: url(../image/0001.jpg);
	background-size: 100% 100%;
	float: left;
}
.dian{
	width: 100%;
	height: 420px;
	padding-top:50px;
	margin-top: 100px;
	background-color:#94a68c;
}
.pu1{
	width: 3%;
	height: 370px;
	margin-left: 10%;
	outline:solid 4px #637459;
	font-family: 楷体;
	font-size:16pt;
	font-weight:500;
	line-height: 92px;
	color:#636164;
	float: left;
	text-align: center;
}
.pu2{
	width: 20%;
	height: 370px;	background:url(../image/10.jpg);
	float: left;
	margin-left:5%;
	background-size: 100% 100%;
	outline:solid 4px #637459;
	background-size: 100% 100%;
}
.pu20{
	width: 90%;
	height: 90%;
	margin: 5%;
	background-color: rgba(31,31,33,0.79);
	transform: scale(0.0);
	transition: all 0.6s;
}
.pu2:hover .pu20{
	transform: scale(1);
}
.pu200{
	width: 100%;
	height: 1px;
}
.pu21{
	width: 80%;
	height: 60px;
	margin-left: 10%;
	border-bottom: solid 2px rgba(223,223,223,1.00);
	border-top: solid 2px rgba(223,223,223,1.00);
	line-height: 60px;
	text-align: center;
	margin-top: 30px;
	font-family: 楷体;
	font-size:14pt;
	font-weight:500;
	color:white;
}
.pu22{
	width: 90%;
	height: 150px;
	margin-top: 40px;
	margin-left: 5%;
}
.cai1{
	width: 12.5%;
	height: 100%;
    text-align: center;
	font-family: 楷体;
	font-size:14pt;
	font-weight:200;
	color:white;
	float: left;
}
.pu3{
	width: 20%;
	height: 370px;
	margin-left: 2%;	background:url(../image/23.jpg);
	float: left;
	background-size: 100% 100%;
	outline:solid 4px #637459;
}
.pu30{
	width: 90%;
	height: 90%;
	margin: 5%;
	background-color: rgba(31,31,33,0.79);
	transform: scale(0.0);
	transition: all 0.6s;
}
.pu3:hover .pu30{
	transform: scale(1);
}
.pu4{
	width: 20%;
	height: 370px;
    margin-left: 2%;	background:url(../image/233.jpg);
	float: left;
	background-size: 100% 100%;
	outline:solid 4px #637459;
	background-size: 100% 100%;
}
.pu40{
	width: 90%;
	height: 90%;
	margin: 5%;
	background-color: rgba(31,31,33,0.79);
	transform: scale(0.0);
	transition: all 0.6s;
}
.pu4:hover .pu40{
	transform: scale(1);
}

.footer{
	background:#141414;
	bottom: 0;
	width: 100%;
	height: 400px;
	font-family: 'Roboto Slab', serif;
	float:left;
}
.footer-top-at {
	float: left;
	width: 100%;
}
.neirong {
  margin-right: 15px;
	float: left;
    width: 100%;
  }
 .col-md-3 {
  min-height: 1px;
  margin-left: 150px;
  margin-top: 90px;
    width: 12%;
    float: left;
  }
.amet-sed h4{
	font-size: 18px;
  	color: #B0B2B5;
    font-family: 'Lato', sans-serif;
	margin: 0 0 15px 30px;
	text-transform: uppercase;
    font-weight: 700;
}
 ul.nav-bottom li{
	list-style:none;
}
ul.nav-bottom li  a{
	text-decoration:none;
	color:#6B6B6B;
	font-size:18px;
	display: inline-block;
	margin: 4px 0;
}
ul.nav-bottom li  a:hover{
	color:#8ce78a;
}
.amet-sed p{
	color:#989696;
	font-size: 20px;
	margin: 0 0 5px;
}
.footer-class  p a{
	color:#8ce78a;
	text-decoration:none;
}
.footer-class  p a:hover{
	color:#fff;
}

.amet-sed form{
   padding:15px 0 0;
}
.amet-sed input[type="text"], .amet-sed input[type="submit"] {
  width: 100%;
  padding: 0.5em;
  outline: none;
  color: #000;
  font-size: 1em;
  background: #fff;
  border: none;
 }
 .amet-sed input[type="submit"] {
  width: 36%;
  color: #FFF;
  font-size: 18px;
  background:#8ce78a;
  border: none;
  outline:none;
  padding: 0.5em;
}
.amet-sed input[type="submit"]:hover {
background: #fff;
color:#8ce78a;
}
.footer-class p {
    font-size: 20px;
    line-height: 40px;
}
.footer-class {
    padding: 10px 0;
	text-align:center;
    background:#000;
}